[general]
state_file = /var/awslogs/state/agent-state

[/var/log/cloud-init-output.log]
file = /var/log/cloud-init-output.log
log_group_name = /var/log/cloud-init-output.log
log_stream_name = {instance_id}
time_zone = UTC

[/var/log/atrax-logger.log]
file = /var/log/atrax-logger.log
log_group_name = /var/log/atrax-logger.log
log_stream_name = {instance_id}
datetime_format = %Y-%m-%dT%H:%M:%S
multi_line_start_pattern = {datetime_format}
time_zone = UTC

[/var/log/atrax-fetcher.log]
file = /var/log/atrax-fetcher.log
log_group_name = /var/log/atrax-fetcher.log
log_stream_name = {instance_id}
datetime_format = %Y-%m-%dT%H:%M:%S
multi_line_start_pattern = {datetime_format}
time_zone = UTC

[/var/log/atrax-frontier.log]
file = /var/log/atrax-frontier.log
log_group_name = /var/log/atrax-frontier.log
log_stream_name = {instance_id}
datetime_format = %Y-%m-%dT%H:%M:%S
multi_line_start_pattern = {datetime_format}
time_zone = UTC

[/var/log/upstart/frontier.log]
file = /var/log/upstart/frontier.log
log_group_name = /var/log/upstart/frontier.log
log_stream_name = {instance_id}
time_zone = UTC

[/var/log/upstart/fetcher.log]
file = /var/log/upstart/fetcher.log
log_group_name = /var/log/upstart/fetcher.log
log_stream_name = {instance_id}
time_zone = UTC

[/var/log/upstart/redis.log]
file = /var/log/upstart/redis.log
log_group_name = /var/log/upstart/redis.log
log_stream_name = {instance_id}
time_zone = UTC
